/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 80%;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}
.controllers {
  font-size: 20px;
  text-align: center;
  user-select: none;
  padding: 2px;
}
.controllers button {
  border-radius: 10px;
  cursor: pointer;
  background-color: lightseagreen;
  text-align: center;
}

.hidden {
  display: none !important;
}
